# Maven
target/
*.jar
*.war
*.ear
*.db
.mvn/wrapper/maven-wrapper.jar

# Frontend
src/main/frontend/node/
src/main/frontend/node_modules/
src/main/frontend/dist/
src/main/frontend/.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# IDEs
.idea/
*.iml
.vscode/
.settings/
.project
.classpath
.factorypath

# OS
.DS_Store
Thumbs.db
