# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Database
backend/*.sqlite
backend/*.sqlite-journal

# Frontend
frontend/dist/
frontend/.vite/

# OS
.DS_Store
Thumbs.db

# Java / Maven
spring-backend/target/
spring-backend/.mvn/
spring-backend/*.jar
spring-backend/.factorypath
spring-backend/.project
spring-backend/.settings/
spring-backend/.classpath
